@{
  Layout = "_Layout";
}

<h1>✂️ Welcome to Eau Claire Salon! ✂️</h1>

<p>@Html.ActionLink("Add a new client", "Create", "Clients")</p>

<p>@Html.ActionLink("See all clients", "Index", "Clients")</p> 

<p>@Html.ActionLink("Add a new stylist", "Create", "Stylists")</p>

<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>