@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
<br>
<p><strong>NOTE: The salon requires a minimum of one stylist before a client can be added.</strong></p>

<p>Go to @Html.ActionLink("this page", "Create", "Stylists") to add a stylist.</p>

<h4>Add a new client:</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.ClientName, "Client Name:  ")
  @Html.TextBoxFor(model => model.ClientName)

  <br><br>

  @Html.LabelFor(model => model.ApptDate, "Appointment Date:  ")
  @Html.TextBoxFor(model => model.ApptDate, new { @class = "form-control", type = "date", style = "width: auto" })

  <br><br>

  @Html.LabelFor(model => model.Stylist, "Stylist:  ")
  @Html.DropDownList("StylistId")

  <br><br>
  <input type="submit" value="Add New Client" class="btn btn-primary" />
}
<p>@Html.ActionLink("Show all clients", "Index")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>